<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="YsecIT_HRM">
	
	<test name="Functional_Testing">
	
	<parameter name="browser" value="chrome" />
	
	<classes>
		
		
		<!--<class name="com.HRM.TestCases.TC_LoginTest_001"/>  -->
		
		
		
		<class name="com.HRM.TestCases.Final_TestCase_Run"/>
		
	
					
	</classes>
	
	</test>

</suite>